# Ignore all CSV files
*.csv
!nextlegend/prospects_data.csv

# Allow specific CSVs if needed by negating
#!nextlegend/data/wyscout_players_cleaned.csv

# Ignore the codex folder
codex/

venv/
.env
nextlegend/config/credentials.toml
nextlegend/__pycache__/
toml_file.toml
