streamlit>=1.33
pandas>=2.0.3,<2.1
numpy>=1.24,<2
plotly>=5.22
scikit-learn>=1.2
rapidfuzz>=3.5
PyYAML>=6.0
tomli>=1.2
toml>=0.10
mplsoccer>=1.2
streamlit-option-menu>=0.3
streamlit-aggrid>=0.3
pydeck>=0.8
